body{
    margin: 0px;
}

.header{
    background-color: rgb(250, 179, 74);
    color: white;
    padding: 0px;
    margin-top: 0px;
    border-top: 0px;
    margin-block-start:0px;
}
.header h1{
    text-align: center;
    font-size: 30px;
    padding: 40px 40px;
    margin: 0px;
}

.indice{
    display: flex;
    list-style: none;
    background-color:rgb(245, 211, 138);
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 10px 10px;
}

.indice li{
    font-size: 20px;
    padding: 10px 30px;
    color:rgb(158, 116, 24);
    font-weight: 600;
}

.main{
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}

.inicio{
    line-height: 40px;
    margin-left: 20px;
    color: black;
}

.inicio h2{
    font-family: sans-serif;
    color: rgb(102, 57, 19);
}